* {
  box-sizing:border-box;
  cursor:none;
}

html {
  height:100%;
}

body {
  height:100%;
  margin:0;
  background:#181821;
  text-align:center;
  position:relative;
}

img {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  max-width:95%;
}
